<launch>
  <arg name="server" default="128.237.215.82"/>
  <node pkg="tf" type="static_transform_publisher" name="BotBroadcasterSnake" args="0.85 -2.45 1.1 0 0 1 world Snake 100" />
  <node pkg="tf" type="static_transform_publisher" name="BotBroadcasterFrog" args="1.22 1.24 1.1 0 0 1 world Frog 100" />
  <node pkg="tf" type="static_transform_publisher" name="BotBroadcasterBird" args="-2.35 -0.45 1.1 0 0 1 world Bird 100" />
  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: 3883
      frame_id: world
      broadcast_tf: true
      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      #trackers:
      #- FirstTracker
      #- SecondTracker
    </rosparam>
  </node>
</launch>
